<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.min.css')}}" />
    <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
    {% block head %}
    {% end %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
	  <li><a href="./astock">A股</a></li>
	  <li><a href="./sz50s">上证50成分股</a></li>
	  <li><a href="./hs300">沪深300成分股</a></li>
	  <li><a href="./zz500s">中证500成分股</a></li>
	  <li><a href="./hsindexs">A股指数</a></li>
<!--          <li><a href="./sinagoods">大宗商品</a></li>-->
          <li><a href="./istindexs">全球指数</a></li>
          <li><a href="./istfxpros">外汇</a></li>
          <li><a href="./istgoods">大宗商品</a></li>
          <li><a href="./istdebts">政府债券</a></li>
	</ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
	{% block wrap %}
	{% end %}
      </div>
    </div>
  </body>
</html>
