<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.min.css')}}" />
    <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
    {% block head %}
    {% end %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
	  <li><a href="./bank.html">央行资产负债表</a></li>
	</ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
	{% block wrap %}
	{% end %}
      </div>
    </div>
  </body>
</html>
