{% extends "base.html" %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="{{static_url('css/jquery.dataTables.css')}}" />
<script type="text/javascript" src="{{static_url('js/jquery.dataTables.js')}}"> </script>
<script type="text/javascript">
  $(document).ready( function () {
    $('#stock').DataTable();
  });
</script>
{% end %}

{% block wrap %}
<div id="wrap">
  <table id="stock" class="table table-striped">
    <thead>
      <tr>
        <th>code</th>
        <th>name</th>
        <th>weight</th>
        <th>industry</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row"><a href="/ohlc/astock/{{i[0]}}" target="_blank">{{"%06d" % i[0]}}</a></th>
        <td>{{i[1]}}</td>

        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}
